<div class="container d-flex justify-content-center">
  <div class="card text-center mt-3" style="width: 25rem;">
  <i class="fas fa-link fa-7x"></i>
    <div class="card-body">
      <h5 class="card-title">短網址產生器</h5>
      <form action="/shorten" method="POST">
        <div class="my-4">
         <input name="longUrl" type="text" class="form-control" id="url" placeholder="輸入你想縮短的網址">
        </div>
        {{#if shortUrl }}
        <div class="alert alert-info" role="alert">
          <span class="mr-2">Success! Please use this link:</span>
          <a href="{{ shortUrl }} ">{{ shortUrl }}</a>
        </div>
        {{/if}}
        {{#if wrongMsg }}
        <div class="alert alert-info" role="alert">
          {{ wrongMsg }}
        </div>
        {{/if}}
        <button type="submit" class="btn btn-primary">Generate</button>
      </form>
    
    </div>
  </div>
</div>
